/* table */
.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;border-bottom:2px solid #6a88c4;border-top:2px solid #6a88c4;font-size:12px;text-align:left;border-collapse:collapse; background:#FFF;}
.tbl_type caption{display:none}
.tbl_type tfoot{background-color:#f5f7f9;font-weight:bold}
.tbl_type th{padding:6px 6px 6px 9px;border-top:1px solid #d3daed;border-right:1px solid #d3daed;border-left:1px solid #d3daed;background-color:#ecedf1;color:#3e4c4f;font-weight: bold; text-align:left;}
.tbl_type td{padding:6px 6px 6px 9px;border:1px solid #d3daed; background-color:#fcfdfd; text-align:left;}
.tbl_type td.ranking{font-weight:bold}
.tbl_type td.on{ background-color:#606060; color:#FFF;}


/* UI Object */
.tbl_type2,.tbl_type2 th,.tbl_type2 td{border:0}
.tbl_type2{width:100%;border-bottom:1px solid #dddee2; border-left:1px solid #dddee2; border-top:2px solid #989898;font-family:'µ¸¿ò',dotum;font-size:12px;table-layout:fixed}
.tbl_type2 caption{display:none}
.tbl_type2 th{padding:8px 0 5px 8px; border-top:1px solid #dddee2; background:#f8f8f8;color:#363636;font-weight:bold;text-align:center; vertical-align:middle}
.tbl_type2 td{padding:8px 8px 8px 8px;border-top:1px solid #dddee2;;border-right:1px solid #dddee2; border-left:1px solid #dddee2; line-height:16px;vertical-align:middle; text-align:left;}
/* //UI Object */


.tbl_type3,.tbl_type3 th,.tbl_type3 td{border:0}
.tbl_type3{width:100%;border-bottom:1px solid #cacaca;font-family:'±¼¸²',gulim;font-size:12px;text-align:center;border-collapse:collapse}
.tbl_type3 caption{display:none}
.tbl_type3 tfoot{background-color:#f5f7f9;font-weight:bold}
.tbl_type3 th{padding:3px 0 4px;border-top:1px solid #cacaca;border-right:1px solid #cacaca;border-left:1px solid #cacaca;background-color:#e9e9e9;color:#363636;font-family:'±¼¸²',gulim;font-size:12px;font-weight:normal}
.tbl_type3 td{padding:2px 6px 2px 6px;border:1px solid #cacaca;color:#4c4c4c; background-color:#fcfdfd;}
.tbl_type3 td.ranking{font-weight:bold}

.tbl_type4,.tbl_type4 th,.tbl_type4 td{border:0}
.tbl_type4{width:100%;border-bottom:1px solid #cacaca;font-family:'±¼¸²',gulim;font-size:12px;text-align:center;border-collapse:collapse}
.tbl_type4 caption{display:none}
.tbl_type4 tfoot{background-color:#f5f7f9;font-weight:bold}
.tbl_type4 th{padding:7px 0 4px;border-top:1px solid #cacaca;border-right:1px solid #cacaca;border-left:1px solid #cacaca;background-color:#f9f9f9;color:#363636;font-family:'±¼¸²',gulim;font-size:12px;font-weight:normal; text-align:left;}
.tbl_type4 td{padding:6px 4px 4px;border:1px solid #cacaca;color:#4c4c4c; background-color:#f9f9f9; text-align:left;}
.tbl_type4 td.ranking{font-weight:bold}


/*
.tbl_type2,.tbl_type2 th,.tbl_type2 td{border:0}
.tbl_type2{width:100%; float:left; border-bottom:2px solid #dcdcdc;font-family:'µ¸¿ò',dotum;font-size:12px;text-align:center;border-collapse:collapse; border-top:2px solid #989898;}
.tbl_type2 caption{display:none}
.tbl_type2 tfoot{background-color:#f5f7f9;font-weight:bold}
.tbl_type2 th{padding:7px 0 4px 4px;border-top:1px solid #e5e5e5;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;background-color:#f8f8f8;color:#363636;font-family:'µ¸¿ò',dotum;font-size:12px;font-weight:bold}
.tbl_type2 td{padding:8px 8px 8px 8px; border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-bottom:px solid #e5e5e5;color:#4c4c4c}
.tbl_type2 td.ranking{font-weight:bold}
*/

/* //table */

