/* UI Object */
.tab2{position:relative;height:29px;margin-top:0px;background:url(../images/tab_menu.gif) repeat-x 0 100%; margin-bottom:15px; font-size:12px}
.tab2 ul,.tab2 ul li{margin:0;padding:0}
.tab2 ul li{list-style:none}
.tab2 ul li,.tab2 ul li a{background:url(../images/bg_tab2_off.gif) no-repeat}
.tab2 ul li{float:left;margin-right:-1px;line-height:26px}
.tab2 ul li a{display:inline-block;padding:2px 16px 1px;_padding:3px 16px 0;background-position:100% 0;font-weight:bold;color:#7a7a7a;text-decoration:none !important}
.tab2 ul li a:hover{color:#7a7a7a}
.tab2 ul li.on,.tab2 ul li.on a{background-image:url(../images/bg_tab2_on.gif)}
.tab2 ul li.on a{color:#fff; font-weight:bold;}
/* //UI Object */
